<div class="row team">
	<div class="col-md-2 team_thumb">
		<img alt="boris" src="https://cdn.local.epitech.eu/userprofil/profilview/bresci_b.jpg"/>
		<h4>Boris BRESCIANI</h4>
	</div>
	<div class="col-md-2 team_thumb">
		<img alt="joseph" src="https://cdn.local.epitech.eu/userprofil/profilview/barbis_j.jpg"/>
		<h4>Joseph BARBISAN</h4>
	</div>
	<div class="col-md-2 team_thumb">
		<img alt="kevin" src="https://cdn.local.epitech.eu/userprofil/profilview/calvez_k.jpg"/>
		<h4>Kévin CALVEZ</h4>
	</div>
	<div class="col-md-2 team_thumb">
		<img alt="sebastien" src="https://cdn.local.epitech.eu/userprofil/profilview/chapui_s.jpg"/>
		<h4>Sébastien CHAPUIS</h4>
	</div>
	<div class="col-md-2 team_thumb">
		<img alt="clement" src="https://cdn.local.epitech.eu/userprofil/profilview/da-sil_l.jpg"/>
		<h4>Clément DA-SILA</h4>
	</div>
	<div class="col-md-2 team_thumb">
		<img alt="alex" src="https://cdn.local.epitech.eu/userprofil/profilview/dana_a.jpg"/>
		<h4>Alex DANA</h4>
	</div>
</div>
