ipch/SPIDER-8a71ca7a/SPIDER-90b44a33.ipch
ReadMe.txt
*.opensdf
Spider.sdf
*.sln
Spider.vcxproj
*.filters
Debug/*
*.vcxproj
*.idb
*.tlog
hookDLL/stdafx.cpp
hookDLL/stdafx.h
hookDLL/targetver.h
*.o
*.user
.vs/Spider/v14/.suo
*.ipch
server/server
*.d
server/Logs
spidermen/tmp/*
spidermen/public/assets/*
Release/
server/plugins/*.so
